<div class='walk'>
<h2>On your last walk you made distance of <%= @walk.distance %> km</h1>
<h2>Your summary distance in this week is <%= @this_week_walks_distance %> km</h1>
<div class='row'>
    <div class='image_wrapper'>

      <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?&size=500x400&maptype=roadmap
      &markers=color:yellow%7Clabel:A%7C#{@walk.start_location}&markers=color:%7Clabel:B%7C#{@walk.end_location}
      &key=#{Rails.application.credentials[:google_maps_api_key]}" %>
    </div>
</div>
</div>
<%= link_to 'Add new walk', new_walk_path, class: 'btn btn-info add-button' %>
